<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 flex flex-col">
        <div>
            <nav class="w-full flex justify-center py-5">
                <ul class="width-200 text-white flex gap-5">
                    <li class="float-left"><a href="/" class="text-center">Home</a></li>
                    <li class="float-left"><a href="" class="text-center">About Us</a></li>
                    <li class="float-left"><a href="" class="text-center">Login as Teacher</a></li>
                    <li class="float-left"><a href="/studentlogin" class="text-center">Login as Student</a></li>
                </ul>
            </nav>
        </div>
        <div class="mt-20 ml-20">
            <h1 class="text-3xl text-white">Welcome, <%= student.name%></h1>
        </div>
    </div>
</body>
</html>